.gradiente-suave {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.orb-grid {
  background: #020617;
  background-image: linear-gradient(
      to right,
      rgba(71, 85, 105, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.15) 1px, transparent 1px),
    radial-gradient(
      circle at 50% 60%,
      rgba(236, 72, 153, 0.15) 0%,
      rgba(168, 85, 247, 0.05) 40%,
      transparent 70%
    );
  background-size: 40px 40px, 40px 40px, 100% 100%;
}
.gradient-1 {
  background: linear-gradient(135deg, #ff006e, #8338ec, #3a86ff);
}
.noise-1 {
  background: #0a0a0f;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(255, 255, 255, 0.15) 1px,
    transparent 0
  );
  background-size: 20px 20px;
}
.gradiente-amanecer {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.gradiente-oceanico {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.patron-cuadricula {
  background-color: #1e293b;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
.mesh-vibrante {
  background: radial-gradient(circle at 20% 20%, #ff6ec4, transparent 50%),
    radial-gradient(circle at 80% 80%, #7873f5, transparent 50%),
    linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.orb-magenta {
  background: #020617;
  background-image: linear-gradient(
      to right,
      rgba(71, 85, 105, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.15) 1px, transparent 1px),
    radial-gradient(
      circle at 50% 60%,
      rgba(236, 72, 153, 0.15) 0%,
      rgba(168, 85, 247, 0.05) 40%,
      transparent 70%
    );
  background-size: 40px 40px, 40px 40px, 100% 100%;
}

.ruido-sutil {
  background-color: #111827;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 0
  );
  background-size: 20px 20px;
}
.gradiente-fuego {
  background: linear-gradient(45deg, #f12711, #f5af19);
}
.glassmorphism {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
}
.radial-aurora {
  background: radial-gradient(circle at center, #00c6ff, #0072ff, #004d99);
}
.crimson-depth {
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #2b0707 100%);
}
